<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body class="gradient-background">

    <div class="book-detail-container">

        <div class="back-home">
            <form action="/" method="get">
                <button type="submit">
                    <img src="/assets/arrow-left.svg" alt="">
                </button>
            </form>
        </div>
        <h1>B👀k Notes</h1>

        <div class="container">
            <div class="book-detail-header">
                <img src="<%= book.cover_url %>" alt="book cover">
                <div class="book-info">
                    <h2><%= book.book_title %></h2>
                    <table>
                        <tr>
                            <td>Authors:</td>
                            <td><%= book.author %></td>
                        </tr>
                        <tr>
                            <td>Published:</td>
                            <td><%= book.published %></td>
                        </tr>
                        <tr>
                            <td>Page count:</td>
                            <td><%= book.page_count %></td>
                        </tr>
                        <tr>
                            <td>Categories:</td>
                            <td><%= book.categories %></td>
                        </tr>
                    </table>
                </div>
            </div>

            <% for(let note of notes) { %>
                <div class="book-note">
                    <p><%= note.note_text %></p>
                    <div class="note-delete-update">
                        <form id="delete<%= note.id %>" action="/delete/note/<%= note.id %>" method="post">
                            <input type="text" name="bookId" value="<%= book.id %>" hidden>
                            <button type="submit">
                                <img src="/assets/trash3-fill.svg" alt="trashcan icon">
                            </button>
                        </form>
                        <form id="update<%= note.id %>" action="/update/note/<%= note.id %>" method="get">
                            <input type="text" name="bookId" value="<%= book.id %>" hidden>
                            <button type="submit">
                                <img src="/assets/pencil - black.svg" alt="pencil icon">
                            </button>
                        </form>
                    </div>
                </div>
            <% }; %>

            <div class="addButton">
                <form action="/addNote/book/<%= book.id %>" method="get">
                    <button type="submit">
                        <img src="/assets/plus-lg.svg" alt="Add button with plus icon">
                    </button>
                </form>
            </div>
        </div>

    </div>
</body>

<footer>
    Made with 🍆, Jindros - <%= new Date().getFullYear() %>
</footer>
</html>